.bottone {
    width: 50px;
    height: 50px;
    font-size: 24px; /* Per vedere bene le emoji */
    cursor: pointer;
    background-color: #ddd;
}

.bottone.indovinato {
    background-color: lightgreen;
    cursor: default;
}